*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

/*CSS for menu*/
.menu{
    border-bottom: 1px solid gray;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #2f3542;
}
.menu ul li a:hover{
    color: #747d8c;
}

/*CSS for main content*/
.main-content{
    padding: 3%;
    background-image: url("../admin/food3.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    
}

.btn-primary{
    background-color: #2980b9;
    padding: 1%;
    color: white;
    text-decoration: none;
    
}

.btn-primary:hover{
    background-color: #3498db;
}

.btn-secondary{
    background-color: #27ae60;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #2ecc71;
}

.btn-danger{
    background-color: #c0392b;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #e74c3c;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 40%;
}

.tbl-full tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

.tbl-full tr td{
    padding: 1%;
}

.success{
    color: #27ae60;
}
.error{
    color: #c0392b;
}


/*CSS for footer*/
.footer{
    background-color: #33691E;
    color: white;
}

/*CSS for Login*/
.login{
    border: 1px solid black;
    width: 25%;
    margin: 10% auto;
    padding: 2%;
}